{% extends 'base.html' %}
{% block page_title %}
Home
{% endblock page_title %}

{% block content %}

  {{now}}
  {% for room in object_list %}
    <h3>
      <a href="{% url 'rooms:detail' room.pk %}">{{room}} /${{room.price}}</a>
    </h3>  
  {% endfor %}
  <h5>
    {% if page_obj.has_previous %}<a href="?page={{page_obj.previous_page_number}}">Previous</a>{% endif %}
      Page {{page_obj.number}} / {{page_obj.paginator.num_pages}}
    {% if page_obj.has_next %}
      <a href="?page={{page_obj.next_page_number}}">Next</a>
    {% endif %}

    {% comment %} {% for page in rooms.paginator.page_range %}
      {{page}}
    {% endfor %} {% endcomment %}
  </h5>

{% comment %} 
    {% for room in rooms %}
    <h1>{{room}} /${{room.price}}</h1>
    {% endfor %}

    <h5>
    {% if page is not 1 %}<a href="?page={{page|add:-1}}">Previous</a>{% endif %}
      Page {{page}} / {{page_count}}
    {% if not page == page_count  %}<a href="?page={{page|add:1}}">Next</a>{% endif %}
      
    </h5> {% endcomment %}

{% endblock content %}
